<div class="ui stackable grid">
    <div class="row">

<div class="nine wide column" id="feeds">
     
  <div class="ui divided items">

      <h2 class="ui header">
          <i class="bullhorn icon"></i>
          <div class="content">
            Campaigns around you
            <div class="sub header">Coming up compaigns in your network</div>
          </div>
        </h2>
      <div class="ui divider"></div>
    
      <div *ngIf="!(opportunities?.length > 0) && !loading">
        
        <div class="ui message">
            <div class="header">
              Oops, Looks like you are new to eVolunt.
            </div>
            <p>Please build your community to be flooded with awesome stuff.</p>
          </div>
      </div>
    
      <div [hidden]="!loading">       
          <div class="ui active centered inline medium text loader" >
            Loading
          </div>
        </div>
      <!-- <div class="item" *ngFor="let opportunity of opportunities"> -->
        <div class="item" *ngFor="let opportunity of opportunities">
              <div class="ui small rounded image">
                <img *ngIf="!opportunity.picture" src="/assets/images/fund.png" style="height:150px">
                <img *ngIf="opportunity.picture" src="{{ opportunity.picture }}" >
              </div>
              <div class="content">
                <a class="header">{{ opportunity.title }}</a>
                <div *ngIf="opportunity.charity"> by 
                  <a  [routerLink]="['/v/c', opportunity.charity._id,'home']" >
                   {{ opportunity.charity.name }}</a>
                </div>
                <div class="meta">
                    <span class="stay"> <strong>{{opportunity.contibuted_users?.length }}</strong>promises to contribute <strong>{{ opportunity.amount_contributed }} Birr</strong>out of <strong>{{ opportunity.amount }}  Birr</strong></span>
                </div>
                <div class="description">
                  <p>{{ opportunity.description }}
                  </p>
                </div>
                <div class="extra">
                  <a (click)="contribute(opportunity._id)">
                    <div class="ui right floated small basic olive button">
                      Contribute
                    </div>
                  </a> 
                  <div class="ui basic red label"><i class="clock icon"></i>Deadline {{ opportunity.deadline | date }}</div>
                </div>

                  <br>
                      <div class="ui olive progress fund_progress" id="fund_progress" [attr.data-value]="opportunity.amount_contributed" [attr.data-total]="opportunity.amount"  >
                    
                  <div class="bar">
                          <div class="progress"></div>
                        </div>
                      
                    </div>
              </div>
    
            </div>            
    
    </div>
    
    
    <div class="ui mini modal">
        <div class="header">How much would you like to contribute?</div>
        <div class="content">
                <form class="ui form">
                <div class="field">
                        <label>Amount</label>
                        <input type="number" name="amount"  [(ngModel)]="amount" #contribute.amount="ngModel" id="amount">
                      </div>
                      </form>
        </div>
        <div class="actions">
          <div class="ui approve basic olive button">Contribute</div>
          <div class="ui basic olive cancel button">Cancel</div>
        </div>
      </div>
        
</div>
  
 </div>
 </div>