<div class="containerli">
        <div class="ui equal width left aligned padded grid stackable">
            <div class="row">
                <div class="eight wide tablet four wide computer column">
                    <div class="ui horizontal segments">
                        <div class="ui inverted teal segment center aligned">

                            <div class="ui inverted  statistic">
                                <div class="value">
                                    9,324
                                </div>
                                <div class="label">
                                    RAISED BIRR
                                </div>
                            </div>
                        </div>
                        <div class="ui inverted teal tertiary segment center aligned">
                            <div id="sparkline1">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eight wide tablet four wide computer column">
                    <div class="ui horizontal segments">
                        <div class="ui inverted red segment center aligned">

                            <div class="ui inverted statistic">
                                <div class="value">
                                    57.6%
                                </div>
                                <div class="label">
                                    PERCENT REMAINING
                                </div>
                            </div>
                        </div>
                        <div class="ui inverted red tertiary segment center aligned">
                            <div id="sparkline2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet four wide computer column">
                    <div class="ui horizontal segments">
                        <div class="ui inverted blue segment center aligned">

                            <div class="ui inverted statistic">
                                <div class="value">
                                    37
                                </div>
                                <div class="label">
                                    ATTENDEES
                                </div>
                            </div>
                        </div>
                        <div class="ui inverted blue tertiary segment center aligned">
                            <div id="sparkline3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet four wide computer column">
                    <div class="ui horizontal segments">
                        <div class="ui inverted green segment center aligned">

                            <div class="ui inverted statistic">
                                <div class="value">
                                    9,582
                                </div>
                                <div class="label">
                                    PAGE VIEWS
                                </div>
                            </div>
                        </div>
                        <div class="ui inverted green tertiary segment center aligned">
                            <div id="sparkline4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="ui header">Latest followers</div>

            <div class="ui divider"></div>

            <div class="ui equal width left aligned padded grid stackable">

            <div class="doubling four column row">
                <div class="column large screen only">

                    <div class="ui segment">
                        <div class="ui link items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="/assets/images/sample2.png">
                                </div>
                                <div class="content">
                                    <a class="header">Alexis Barnes</a>
                                    <div class="meta">
                                        <span class="cinema">The Talking Dead</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label olive">IMDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column large screen only">

                    <div class="ui segment">
                        <div class="ui link items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="/assets/images/sample.png">
                                </div>
                                <div class="content">
                                    <a class="header">Sherri Matthews</a>
                                    <div class="meta">
                                        <span class="cinema">The Talking Dead</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label brown">IMDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">

                    <div class="ui segment">
                        <div class="ui link items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="assets/images/sample2.png">
                                </div>
                                <div class="content">
                                    <a class="header">Stella Alexander</a>
                                    <div class="meta">
                                        <span class="cinema">The Talking Dead</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label blue">IMDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">

                    <div class="ui segment">
                        <div class="ui link items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="assets/images/sample.png">
                                </div>
                                <div class="content">
                                    <a class="header">Maureen Rhodes</a>
                                    <div class="meta">
                                        <span class="cinema">The Talking Dead</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label pink">IMDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="doubling four column row">
                <div class="column">

                        <div class="ui segment">
                            <div class="ui link items">
                                <div class="item">
                                    <div class="ui tiny circular image">
                                        <img src="assets/img/avatar/animals/giraffe_128px.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Giraffe</a>
                                        <div class="meta">
                                            <span class="cinema">Jungle Animal</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">

                                            <div class="ui orange label"><i class="eye icon"></i> Full Wiki</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">

                        <div class="ui segment">
                            <div class="ui link items">
                                <div class="item">
                                    <div class="ui tiny circular image">
                                        <img src="assets/img/avatar/animals/coala_128px.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Koala</a>
                                        <div class="meta">
                                            <span class="cinema">Jungle Animal</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">

                                            <div class="ui yellowli label"><i class="eye icon"></i> Full Wiki</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">

                        <div class="ui segment">
                            <div class="ui link items">
                                <div class="item">
                                    <div class="ui tiny circular image">
                                        <img src="assets/img/avatar/animals/frog_128px.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Frog</a>
                                        <div class="meta">
                                            <span class="cinema">Amphibious Animal</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">

                                            <div class="ui greenli label"><i class="eye icon"></i> Full Wiki</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">

                        <div class="ui segment">
                            <div class="ui link items">
                                <div class="item">
                                    <div class="ui tiny circular image">
                                        <img src="assets/img/avatar/animals/bear_128px.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Bear</a>
                                        <div class="meta">
                                            <span class="cinema">Wild Animal</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">

                                            <div class="ui blueli label"><i class="eye icon"></i> Full Wiki</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>