<div class="ui secondary vertical pointing menu fluid fixed top sticky">
    <a class="item" routerLink="/v/home" routerLinkActive="active">
        <i class="home icon" ></i> Home
    </a>
    <a class="item"  routerLink="/v/message" routerLinkActive="active">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item"  routerLink="/v/friends" routerLinkActive="active">
        <i class="user icon"></i> Community
    </a>
    <!-- <a class="item"  routerLink="/v/charities" routerLinkActive="active">
        <i class="child icon"></i> Charities
    </a> -->
    <a class="item" routerLink="/v/opportunity" routerLinkActive="active">
        <i class="heart icon"></i> Opportunities
    </a>
    <a class="item" routerLink="/v/campaign" routerLinkActive="active">
        <i class="bullhorn icon"></i> Campaign
    </a>
  </div>