<div class="ui secondary pointing large fixed menu">
    <div class="ui container">
       <a class="header item center aligned" routerLink="/{{ role }}/home"><img class="logo" src="" />eVolunt</a>
       <a class="item"  routerLink="/{{ role }}/home" routerLinkActive="active">
        <i class="home icon"></i>
        </a>
       <div class="right menu">
          <div class="item">
            <div class="ui category small search">
                <div class="ui icon small input">
                  <input class="prompt" type="text" placeholder="Search evolunt...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
          </div>
          <div class="ui dropdown item">
              <img class="ui mini avatar image" src="{{photo}}">&nbsp; {{ name }}
             <div class="menu" >
                <a class="item" routerLink="/{{ role }}/editprofile" routerLinkActive="active"><i class="user icon"></i>Profile</a>
                <a class="item"  (click)="logout()" href="#"><i class="sign out icon"></i>Log out</a>
          </div>
       </div>
    </div>
 </div>