            <div class="ui grid">
              <div class="row">
                <div class="twelve wide column">
                  <div class="ui mini tablet stackable fluid steps">
                    <a class="step">
                      <i class="calendar icon"></i>
                      <div class="content">
                        <div class="title">Create an Event</div>
                        <div class="description">Choose your time and place</div>
                      </div>
                    </a>
                  </div>    
               <div class="ui divider"></div>
               <div class="ui success message" *ngIf="posted">
                <i class="close icon"></i>
                <div class="header">
                    Your have succesfully created an event.
                </div>
                <p>You followers will now see your event</p>
              </div>
               <div class="ui feed" style="z-index: 100;" >
                  <form class="ui form">
                      <div class="field">
                        <label>Cause</label>
                        <input type="text" name="event.title" id="event.title"
                        [(ngModel)]="event.title" #event.title="ngModel" placeholder="What is it called?">
                      </div>
                      <div class="field">
                        <label>Description</label>
                        <textarea rows="2" type="text" name="event.description" id="event.description"
                        [(ngModel)]="event.description" #event.description="ngModel" placeholder="What is it about?"></textarea>
                      </div>
                      <!-- <div class="field">
                        <label>Activities</label>
                        <input type="text" name="activity" placeholder="What happens there?">
                      </div> -->
                      <div class="field">
                        <label>Place</label>
                        <input type="text" name="event.location" id="event.location"
                        [(ngModel)]="event.location" #event.location="ngModel" placeholder="Where would you like it to be?">
                      </div>
                      <div class="field">
                        <label>Date and Time - (YYYY-MM-DD)</label>
                        <input type="date" name="event.date_of_event" id="event.date_of_event"
                        [(ngModel)]="event.date_of_event" #event.date_of_event="ngModel" placeholder="When is it?">
                        
                      </div>
                      <div class="field">
                          <label>Picture</label>
                          <br>
                          <div class="ui grid container">

                            <input type="file" 
                            #fileupload name="picture" (change)="fileChange($event)" class="inputfile" id="embedpollfileinput" />
                    
                                  <label for="embedpollfileinput" class="ui right basic olive floated button">
                                          <i class="ui upload icon"></i> 
                                          Upload a picture
                                  </label>

                          </div>       

                          <br>
                          </div>
                          <div class="ui divider"></div>
                      <div (click)="submit()" class="ui basic olive button float right submit" >Create</div>
                    </form>                 
               </div>
              
                </div>
              </div>
            </div>  
             