<div class="ui secondary vertical pointing menu fluid sticky">
    <a class="item" routerLink="/c/home" routerLinkActive="active">
        <i class="home icon"></i> NewsFeed
    </a>
    <a class="item" routerLink="/c/dashboard" routerLinkActive="active">
        <i class="dashboard icon"></i> Dashboard
    </a>
    <a class="item" routerLink="/c/community" routerLinkActive="active">
        <i class="users icon"></i> Community
    </a>
    <a class="item" routerLink="/c/profile" routerLinkActive="active">
        <i class="user icon"></i> Profile
    </a>
    <a class="item" routerLink="/c/event" routerLinkActive="active">
        <i class="calendar icon"></i> Events
    </a>
    <a class="item" routerLink="/c/fundraiser" routerLinkActive="active">
        <i class="money icon"></i> Fundraiser
    </a>
    <a class="item" routerLink="/c/package">
        <i class="cube icon"></i> Package
    </a>
  </div>