<div class="ui stackable grid">
    <div class="row">

<div class="fourteen wide column" >
<div class="containerli profilepage">
    <div class="ui equal width left aligned padded grid">

        <div class="sixteen column profileheader row no-padding">
            <div class="column  left floated">
                <div class="ui items">
                    <div class="item">
                        <a class="ui small circular image">
                            <img *ngIf="!user.picture" src="/assets/images/sample.png">
                            <img *ngIf="user.picture" src="{{ user.picture }}">
                            <i class="circle mini red icon avt" data-content="Offline" data-variation="inverted redli"></i>
                        </a>
                        <div class="middle aligned content">
                            <div class="header">
                                {{ user.name }} 
                            </div>
                            <div class="meta">
                                {{ user.description }} 
                            </div>
                            <div class="ui divider"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="description right aligned">

                </div>
            </div>
        </div>
        <div class="ui menu fluid no-radius borderless stackable" style="margin-top:0">
            <a class="item" [ngClass]="page=='home' && 'active olive'" (click)="setPage('home')" >Timeline</a>
            <a class="item" [ngClass]="page=='about' && 'active olive'" (click)="setPage('about')" >About</a>
            <a class="item" [ngClass]="page=='community' && 'active olive'" (click)="setPage('community')" >Community</a>
            <div class="right menu computer only fluid stackable">
                <a class="item">
                    <div class="ui mini statistic">
                        <div class="value">
                              {{user.following?.length }}
                        </div>
                        <div class="label">
                            Following
                        </div>
                    </div>
                </a>
                <a class="item">
                    <div class="ui mini statistic">
                        <div class="value">
                              {{user.followers?.length }}
                        </div>
                        <div class="label">
                            Followers
                        </div>
                    </div>
                </a>
            </div>
          </div>

        <div class="row">
            <div class="ten wide column">
                        <div [hidden]="!(page=='home')">
                            <div [hidden]="!loading_feed">       
                                <div class="ui icon message" >
                                    <i class="notched circle loading icon"></i>
                                    <div class="content">
                                        <div class="header">
                                        Just a minute
                                        </div>
                                        <p>We're populating your timeline.</p>
                                    </div>
                                </div>  
                                </div>
                        
                                <div *ngIf="!length && !loading_feed">
                                    <div class="ui message">
                                        <div class="header">
                                          Looks like you are new to eVolunt.
                                        </div>
                                        <p>Please build your community to be flooded with awesome stuff.</p>
                                      </div>
                                </div>
                        
                                 <div class="ui feed" style="z-index: 100;">
                                    <div class="ui cards">
                                       <div class="ui fluid card" *ngFor="let post of posts">
                                          <div class="content">
                                             
                                            <div class="ui items" *ngIf="post.verb == 'post'">
                                                <div *ngIf="post.volunteer" class="ui item">
                                                   <a class="ui circular mini image">
                                                    <img *ngIf="!post.volunteer.picture" src="/assets/images/sample.png">
                                                    <img *ngIf="post.volunteer.picture" src="{{ post.volunteer.picture }}">
                                                   </a>
                                                   <div class="content">
                                                      <div class="summary">
                                                         <a routerLink="/v/{{ post.volunteer._id }}/home"><strong>{{ post.volunteer.first_name }} {{ post.volunteer.last_name }}</strong></a> has posted
                                                         <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                                                      </div>
                                                      <div class="description">
                                                                {{ post.post_message }}                                    
                                                      </div>
                                                   </div>
                                                </div>
                                                <div *ngIf="post.charity" class="ui item">
                                                    <a class="ui circular mini image">
                                                     <img *ngIf="!post.charity.picture" src="/assets/images/sample.png">
                                                     <img *ngIf="post.charity.picture" src="{{ post.charity.picture }}">
                                                    </a>
                                                    <div class="content">
                                                       <div class="summary">
                                                          <a routerLink="/v/{{ post.charity._id }}/home"><strong>{{ post.charity.name }}</strong></a> has posted
                                                          <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                                                       </div>
                                                       <div class="description">
                                                                 {{ post.post_message }}                                    
                                                       </div>
                                                    </div>
                                                 </div>
                                             </div>
                        
                                             <div class="ui items" *ngIf="post.verb == 'Created An Event'">
                                                <div class="ui item">
                                                   <a class="ui circular mini image">
                                                    <img *ngIf="!post.charity.picture" src="/assets/images/charity.jpg">
                                                    <img *ngIf="post.charity.picture" src="{{ post.charity.picture }}">
                                                   </a>
                                                   <div class="content">
                                                      <div class="summary">
                                                         <a routerLink="/v/{{ post.charity._id }}/home"><strong>{{ post.charity.name }} </strong></a> has created the event <a href="">
                                                            {{ post.event.title }}
                                                         </a>
                                                         <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                                                      </div>
                                                      <div class="description">
                                                          {{ post.event.description }}                                   
                                                      </div>
                                                   </div>
                                                </div>
                                             </div> 
                        
                                             <div class="ui items" *ngIf="post.verb == 'Attending An Event'">
                                                <div class="ui item">
                                                   <a class="ui circular mini image">
                                                    <img *ngIf="!post.volunteer.picture" src="/assets/images/sample.png">
                                                    <img *ngIf="post.volunteer.picture" src="{{ post.volunteer.picture }}">
                                                   </a>
                                                   <div class="content">
                                                      <div class="summary">
                                                         <a routerLink="/v/{{ post.volunteer._id }}/home"><strong>{{ post.volunteer.first_name }} {{ post.volunteer.last_name }}</strong></a> is attending the event <a href="">
                                                            {{ post.event.title }}
                                                         </a>
                                                         <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                                                      </div>
                                                      <div class="description">
                                                          {{ post.event.description }}                                   
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                        
                                             <div class="ui items" *ngIf="post.verb == 'Created An Fund'">
                                                <div class="ui item">
                                                   <a class="ui circular mini image">
                                                    <img *ngIf="!post.charity.picture" src="/assets/images/charity.jpg"> 
                                                    <img *ngIf="post.charity.picture" src="{{ post.charity.picture }}">
                                                   </a>
                                                   <div class="content">
                                                      <div class="summary">
                                                         <a routerLink="/v/{{  post.charity._id}}/home"><strong>{{ post.charity.name }}  </strong></a> has created the fundraiser <a href="">
                                                            {{ post.fund.title }}
                                                         </a>
                                                         <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                                                      </div>
                                                      <div class="description">
                                                          {{ post.fund.description }}                                   
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>  
                        
                                             <div *ngIf="post.image">
                                                <div class="ui fluid image" >
                                                    <!-- <img src="assets/images/sample.png"> -->
                                                    <img src="{{ post.image }}">
                                                    
                                                  </div>
                                                  <br>
                                             </div>
                                             
                                              <span class="right floated">
                                             <i class="heart outline like icon"></i>
                                             {{post.likes?.length }} likes
                                             </span>
                                             <i class="comment icon"></i>
                                             {{post.comments?.length }} comments
                                             <div *ngIf="post.comments?.length > 0" class="ui divider"></div>
                                             <div class="ui small feed"  *ngFor="let comment of post.comments">
                                                    <div *ngIf="comment.volunteer" class="small event">
                                                        <div class="label">
                                                        <img *ngIf="!comment.volunteer.picture" src="/assets/images/sample.png">
                                                        <img *ngIf="comment.volunteer.picture" src="{{ comment.volunteer.picture }}">
                        
                                                        </div>
                                                        <div class="content">
                                                        <div class="summary">
                                                        <a routerLink="/v/{{ comment.volunteer._id }}/home" > {{ comment.volunteer.first_name }} {{ comment.volunteer.last_name }}</a>
                                            
                                                            <div class="date">
                                                                {{ comment.date | timeAgo }}
                                                            </div>
                                                        </div>
                        
                                                        <div class="text">
                                                                {{ comment.comment }}
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="comment.charity" class="small event">
                                                            <div class="label">
                                                            <img *ngIf="!comment.volunteer.picture" src="/assets/images/charity.jpg">
                                                            <img *ngIf="comment.volunteer.picture" src="{{ comment.charity.picture }}">
                            
                                                            </div>
                                                            <div class="content">
                                                            <div class="summary">
                                                            <a routerLink="/v/{{ comment.charity._id }}/home" > {{ comment.charity.name }}</a>
                                                
                                                                <div class="date">
                                                                    {{ comment.date | timeAgo }}
                                                                </div>
                                                            </div>
                            
                                                            <div class="text">
                                                                    {{ comment.comment }}
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>
                        
                                          </div>
                        
                                          <div class="extra content">
                        
                                             <form  #commentForm="ngForm"  action="" (ngSubmit)="comment(commentForm,post._id)">
                                             <div class="ui transparent fluid left icon input">
                                                    <a *ngIf="post.likes.indexOf(currentUser) !== -1" (click)="unlike(post._id)"> <i class="heart outline red icon"></i></a>
                                                <a *ngIf="!(post.likes.indexOf(currentUser) !== -1)" (click)="like(post._id)"> <i class="heart outline icon"></i></a>
                                                  
                                                <input style="width:100%" type="input" placeholder="Add Comment..." id="data" name="data" ngModel>
                                                    
                                                  </div>
                                                </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                            
                          </div>            
                          <div [hidden]="!(page=='about')">
                          <h2 class="ui header">
                            <!-- <img src="/images/avatar2/large/patrick.png" class="ui circular image"> -->
                            <img class="ui circular image" *ngIf="!user.picture" src="/assets/images/charity.jpg">
                            <img class="ui circular image" *ngIf="user.picture" src="{{ user.picture }}">
                            {{ user.name }}
                          </h2>
                          <div class="ui divider"></div>
                          <strong> {{ user.name }} is interested in </strong> : 
                            <label *ngFor="let interest of user.interests">{{ interest }} </label>
                          </div>
                          <div [hidden]="!(page=='community')">
                            <div class="ui fluid two item menu">
                                <a class="item" [ngClass]="communityPage=='following' && 'active olive'" (click)="setCommunityPage('following')">Following</a>
                                <a class="item" [ngClass]="communityPage=='followers' && 'active olive'" (click)="setCommunityPage('followers')">Followers</a>
                              </div>
                              <div [hidden]="!loading_feed">       
                                  <div class="ui active centered inline medium text loader" >
                                    Loading
                                  </div>
                              </div>
                              <div  [hidden]="loading_feed">
                              <div [hidden]="!(communityPage=='following')">
                              
                                <div *ngIf="community.following.volunteer?.length > 0">
                                    <h2 class="ui header" >
                                        <i class="user icon"></i>
                                        <div class="content">
                                          Volunteers
                                          <div class="sub header">Here are the volunteers you follow</div>
                                        </div>
                                      </h2>
                                    <div class="ui divider"></div>
                                </div>
                              
                                <div *ngIf="!(community.following.volunteer?.length > 0)">
                                    <div class="ui message">
                                        <div class="header">
                                          It looks like  you are not following anyone.
                                        </div>
                                      </div>
                                </div>
                              
                                  <div class="ui three doubling cards">
                                    <div class="card" *ngFor="let friend of community.following.volunteer">
                                      <div class="image">
                                            <img *ngIf="!friend.picture" src="/assets/images/sample.png">
                                            <img *ngIf="friend.picture" src="{{ friend.picture }}">
                                      </div>
                                      <div class="content">
                                        <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
                                        <div class="meta">
                                          <a>Following</a>
                                        </div>
                                        <div class="description">
                                          Addis Ababa
                                        </div>
                                      </div>
                                      <div class="extra content">
                                        <a (click)="unfollow(friend._id)">
                                          <span class="right floated">
                                            Unfollow
                                          </span>
                                        </a>
                                  
                                        <span>
                                          <i class="user icon"></i>
                                          3 Followers
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngIf="community.following.charity?.length > 0">
                                      <div class="ui divider"></div>
                                      <h2 class="ui header" >
                                          <i class="user icon"></i>
                                          <div class="content">
                                            Charities
                                            <div class="sub header">Here are the charities you follow on eVolunt</div>
                                          </div>
                                        </h2>
                                        <div class="ui divider"></div>
                                  </div>
                                  <div class="ui three doubling cards">
                                    <div class="card" *ngFor="let friend of community.following.charity">
                                      <div class="image">
                                            <img *ngIf="!friend.picture" src="/assets/images/sample.png">
                                            <img *ngIf="friend.picture" src="{{ friend.picture }}">
                                      </div>
                                      <div class="content">
                                        <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
                                        <div class="meta">
                                          <a>Friends</a>
                                        </div>
                                        <div class="description">
                                        </div>
                                      </div>
                                      <div class="extra content">
                                        <a (click)="unfollowCharity(friend._id)">
                                          <span class="right floated">
                                            Unfollow
                                          </span>
                                        </a>
                                  
                                        <span>
                                          <i class="user icon"></i>
                                          3 Followers
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              
                                </div>
                              
                                <div [hidden]="!(communityPage=='followers')">
                                  <div *ngIf="community.followers.volunteer?.length > 0">
                                      <h2 class="ui header">
                                          <i class="user icon"></i>
                                          <div class="content">
                                            Volunteers
                                            <div class="sub header">Here the volunteers following you</div>
                                          </div>
                                        </h2>
                                        <div class="ui divider">
                                        </div>
                                  </div>
                              
                                  <div *ngIf="!(community.followers.volunteer?.length > 0)">
                                      <div class="ui message">
                                          <div class="header">
                                            It looks like you have no followers.
                                          </div>
                                        </div>
                                  </div>
                              
                                    <div [hidden]="!loading_user">       
                                        <div class="ui active centered inline medium text loader" >
                                          Loading
                                        </div>
                                    </div>
                                  
                                      <div class="ui three doubling cards">
                                        <div class="card" *ngFor="let friend of community.followers.volunteer">
                                          <div class="image">
                                                <img *ngIf="!friend.picture" src="/assets/images/sample.png">
                                                <img *ngIf="friend.picture" src="{{ friend.picture }}">
                                          </div>
                                          <div class="content">
                                            <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
                                            <div class="meta">
                                              <a>Friends</a>
                                            </div>
                                            <div class="description">
                                             
                                            </div>
                                          </div>
                                          <div class="extra content">
                                            <a (click)="follow(friend._id)">
                                              <span class="right floated">
                                                Follow
                                              </span>
                                            </a>
                                      
                                            <span>
                                              <i class="user icon"></i>
                                              75 Friends
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                      <div *ngIf="community.followers.charity?.length > 0">
                                          <div class="ui divider"></div>
                                          <h2 class="ui header">
                                            <i class="user icon"></i>
                                            <div class="content">
                                              Charities
                                              <div class="sub header">Here are the charities following you</div>
                                            </div>
                                          </h2>
                                          <div class="ui divider"></div>
                                      </div>
                              
                                      <div class="ui three doubling cards">
                                        <div class="card" *ngFor="let friend of community.followers.charity">
                                          <div class="image">
                                                <img *ngIf="!friend.picture" src="/assets/images/sample.png">
                                                <img *ngIf="friend.picture" src="{{ friend.picture }}">
                                          </div>
                                          <div class="content">
                                            <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
                                            <div class="meta">
                                              <a>Friends</a>
                                            </div>
                                            <div class="description">
                                            
                                            </div>
                                          </div>
                                          <div class="extra content">
                                            <a (click)="follow(friend._id)">
                                              <span class="right floated">
                                                Follow
                                              </span>
                                            </a>
                                      
                                            <span>
                                              <i class="user icon"></i>
                                              75 Friends
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              
                          </div>
                 
            </div>

            <div class="six wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h4 class="ui header">Follow Suggestions</h4>
                    </div>
                    <div class="ui segment">
                        <div class="ui items">
      
                            <div class="item">
                                <div class="ui tiny rounded image">
                                    <img src="/assets/images/sample.png">
                                    
                                </div>
                                <div class="content">
                                    <a href="#">Abebe Tesfaye</a>
                                    <div class="meta">
                                        <span class="cinema">4 Kilo, Addis ababa</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <button class="ui basic olive tiny button follow">Follow</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui rounded tiny image">
                                    <img src="/assets/images/sample.png">
                                </div>
                                <div class="content">
                                    <a>Selam Lema</a>
                                    <div class="meta">
                                        <span class="cinema">Kolfe, Addis Ababa </span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <button class="ui basic olive tiny button follow">Follow</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui rounded tiny image">
                                    <img src="/assets/images/sample.png">
                                </div>
                                <div class="content">
                                    <a>Surafel Alemu</a>
                                    <div class="meta">
                                        <span class="cinema">Bole, Addis Ababa</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <button class="ui basic olive tiny button follow">Follow</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>