        <div class="ui stackable grid">
           <div class="row">
              <div class="twelve wide column" id="feeds">
                    <div class="ui fluid card">
                        <h2 class="ui header">
                                <i class="profiles icon"></i>
                                <div class="content">
                                  Your Profile
                                  <div class="sub header">Edit your profile</div>
                                </div>
                              </h2>
                         </div>          
                         
                         <!-- <img class="ui centered medium image" src="http://evolunt-volunteer.herokuapp.com{{ user.picture }}"> -->
                         <div class="ui divider"></div>
                         <form [hidden]="!first" class="ui form segment" >
                        <div class="field">
                        <label>Name</label>
                        <input placeholder="First Name" name="name"  [(ngModel)]="user.name"  type="text">
                        </div>

                        <div class="field">
                                <label>Description</label>
                                <textarea placeholder="Description" name="description" [(ngModel)]="user.description"  type="text"></textarea>
                        </div>

                        <div class="ui  basic olive  submit button" (click)="submit()">Next</div>
                        <div class="ui  basic olive clear button">Cancel</div>
                        </form>  
                        <form [hidden]="first" class="ui form segment" #pictureForm="ngForm">

                                <div class="ui header">Profile picture</div>
                                <div class="ui divider"></div>
                                <!-- <img class="ui centered medium image" src="/assets/images/sample.png">    -->
                                <img *ngIf="!user.picture" class="ui centered medium image" src="/assets/images/charity.jpg">
                                <img *ngIf="user.picture" class="ui centered medium image" src="{{ user.picture }}"> 
                                <div class="ui divider"></div>        
                        <div class="field">
                                <br>
                                <div class="ui middle aligned center aligned grid container">

                                                <input type="file" 
                                                #fileupload name="picture" (change)="fileChange($event)" class="inputfile" id="embedpollfileinput" />
                                        
                                        <label for="embedpollfileinput" class="ui right basic olive floated button">
                                                <i class="ui upload icon"></i> 
                                                Upload your picture
                                        </label>

                                </div>       

                                <br>
                                </div>

                                <div class="ui basic olive submit button" (click)="back()">Back</div>
                                <div class="ui basic olive submit button" [ngClass]=" uploading == 'true' && ' loading ' " (click)="upload()">Update</div>
                                <div class="ui  basic olive clear button">Cancel</div>
                                </form>  
              </div>
              <div class="eight wide mobile six wide tablet four wide computer column">
                                <div class="ui bound top sticky profile" style="z-index: 100;">
                                                <div class="ui olive card profile-card">
                                                <div class="image">
                                                        <!-- <img class="img-profile" src="{{photo}}"> -->
                                                        <img *ngIf="!user.picture" class="img-profile" src="/assets/images/charity.jpg">
                                                        <img *ngIf="user.picture" class="img-profile" src="{{ user.picture }}"> 
                                
                                                </div>
                                                <div class="content">
                                                        <a class="header">{{ name }}</a>
                                                        <div class="meta">
                                                        <span class="date">Member since {{ user.date_created | timeAgo }}</span>
                                                        </div>
                                                        <div class="description">
                                                                {{ user.description }}
                                                        </div>
                                                </div>
                                                <div class="extra content">
                                                        <a>
                                                        <i class="user icon"></i>
                                                        {{user.followers?.length }} Followers
                                                        </a>
                                                </div>
                                                </div>
                                        </div>
              </div>
           </div>
        </div>


     