
              <!-- <div class="six wide column" id="feeds"> -->
                    <div class="ui fluid card">
                            <div class="content">
                    <div class="chat">
                            <div class="chat-header clearfix">
                               <img class="ui mini circular image" src="/assets/images/sample.png" alt="avatar" />
                               <div class="chat-about">
                                  <div class="chat-with">Mamo Tesfa</div>
                                  <div class="chat-num-messages">4 messages</div>
                               </div>
                               <i class="fa fa-star"></i>
                            </div>
                            <div class="ui divider"></div>
                            <!-- end chat-header -->
                            <div class="chat-history">
                               
                                  <div class="clearfix">
                                     <div class="message-data align-right">
                                        <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                                        <span class="message-data-name" >You</span> <i class="circle teal icon small"></i>
                                     </div>
                                     <div class="message other-message float-right">
                                        Hi Mamo, how are you? How is the project coming along?
                                     </div>
                                    </div>
                                  
                                     <div class="message-data">
                                        <span class="message-data-name"><i class="circle green icon small"></i> Mamo Tesfa</span>
                                        <span class="message-data-time">10:12 AM, Today</span>
                                     </div>
                                     <div class="message my-message">
                                        Are we meeting today? Project has been already finished and I have results to show you.
                                     </div>
                                    
                                  <div class="clearfix">
                                     <div class="message-data align-right">
                                        <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                                        <span class="message-data-name" >You</span> <i class="circle teal icon small"></i>
                                     </div>
                                     <div class="message other-message float-right">
                                        Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                                     </div>
                                    </div>
                            </div>
                            <div class="ui divider"></div>
                            <!-- end chat-history -->
                            <div class="ui form">
                                    <div class="field">
                                       <textarea rows="2" placeholder="Type your message"></textarea>
                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="ui basic olive vertical animated button" tabindex="0">
                                       <div class="hidden content">Image</div>
                                       <div class="visible content">
                                          <i class="image icon"></i>
                                       </div>
                                    </div>
                                    <div class="ui basic olive vertical animated button" tabindex="0">
                                            <div class="hidden content">File</div>
                                            <div class="visible content">
                                               <i class="file icon"></i>
                                            </div>
                                         </div>
                                    <button class="ui basic olive right floated button">Send</button>
                                 </div>
                            <!-- end chat-message -->
                         </div>   
                         </div>
                         </div>          
                
              <!-- </div> -->
              <!-- <div class="eight wide mobile six wide tablet four wide computer column">
                 <div class="ui bound top sticky" style="z-index: 100;">
                <div class="ui vertical fluid menu ">
                        <div class="item">
                                <div class="ui transparent icon input">
                                <input type="text" placeholder="Search...">
                                <i class="search icon"></i>
                                </div>
                        </div>
                        <a class="active item">
                                <div>
                                <div class="ui grid">
                                        <div class="row">
                                        <div class="four wide column">
                        <a class="ui small circular image">
                        <img src="/assets/images/sample.png">
                        </a>
                        </div> 
                        <div class="twelve wide column">
                        <a class="header">Mamo Tesfa</a>
                        <div class="ui label">3</div>
                        <div class="description">
                        <p>Minew tefah</p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </a>
                        <a class="item">
                                <div>
                                        <div class="ui grid">
                                        <div class="row">
                                        <div class="four wide column">
                                <a class="ui small circular image">
                                <img src="/assets/images/sample.png">
                                </a>
                                </div> 
                                <div class="twelve wide column">
                                <a class="header">Meron Teka</a>
                                <div class="description">
                                <p>bye</p>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </a>
                                <a class="item">
                                        <div>
                                        <div class="ui grid">
                                        <div class="row">
                                                <div class="four wide column">
                                <a class="ui small circular image">
                                <img src="/assets/images/sample.png">
                                </a>
                                </div> 
                                <div class="twelve wide column">
                                <a class="header">Kirubel Taye</a>
                                <div class="description">
                                <p>see you :)</p>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </a>
                        </div>
                 </div>
              </div> -->
      

