              <div class="ui mini tablet stackable fluid steps">
                  <a class="step" [ngClass]="tab[0].status" (click)="goTo(0)">
                    <i class="calendar icon"></i>
                    <div class="content">
                      <div class="title">Package</div>
                      <div class="description">Choose your time and place</div>
                    </div>
                  </a>
                  <a class="step" [ngClass]="tab[1].status" (click)="goTo(1)">
                    <i class="money icon"></i>
                    <div class="content">
                      <div class="title">Fund raising</div>
                      <div class="description">Enter billing information</div>
                    </div>
                  </a>
                  <a class="step" [ngClass]="tab[2].status" (click)="goTo(2)">
                      <i class="empty heart icon"></i>
                      <div class="content">
                        <div class="title">Skills</div>
                        <div class="description">Any required skills?</div>
                      </div>
                    </a>
                  <a class="step" [ngClass]="tab[3].status" (click)="goTo(3)">
                    <i class="dollar icon"></i>
                    <div class="content">
                      <div class="title">Sponsors</div>
                      <div class="description">Look for sponsors</div>
                    </div>
                  </a>
                </div>    
             <div class="ui divider"></div>
             <div class="ui feed" style="z-index: 100;" [hidden]="tab[0].form">
                <form class="ui form">
                    <div class="field">
                      <label>Cause</label>
                      <input type="text" name="package.title" id="package.title"
                      [(ngModel)]="package.title" #package.title="ngModel" placeholder="What is it called?">
                    </div>
                    <div class="field">
                      <label>Description</label>
                      <textarea rows="2" type="text" name="package.description" id="package.description"
                      [(ngModel)]="package.description" #package.description="ngModel" placeholder="What is it about?"></textarea>
                    </div>
                    <!-- <div class="field">
                      <label>Activities</label>
                      <input type="text" name="activity" placeholder="What happens there?">
                    </div> -->
                    <div class="field">
                      <label>Place</label>
                      <input type="text" name="package.location" id="package.location"
                      [(ngModel)]="package.location" #package.location="ngModel" placeholder="Where would you like it to be?">
                    </div>
                    <div class="field">
                      <label>Date and Time - (YYYY-MM-DD)</label>
                      <input type="number" name="package.date_of_package" id="package.date_of_package"
                      [(ngModel)]="package.date_of_package" #package.date_of_package="ngModel" placeholder="When is it?">
                      
                    </div>
                    <div (click)="submit(0)" class="ui button float right" >Next</div>
                  </form>                 
             </div>
             <div class="ui feed" style="z-index: 100;" [hidden]="tab[1].form">
                <form class="ui form">
                  <div class="field">
                    <label>Campaign title</label>
                    <input type="text" name="fund.title" id="fund.title"
                    [(ngModel)]="fund.title" #fund.title="ngModel" placeholder="What would you like to call it?">
                  </div>
                  <div class="field">
                    <label>Description</label>
                    <textarea rows="2" type="text" name="fund.description" id="fund.description"
                    [(ngModel)]="fund.description" #fund.description="ngModel" placeholder="What is it about?"></textarea>
                  </div>
                  <div class="field">
                      <label>Goal</label>
                      <input type="number" name="fund.amount" id="fund.amount"
                      [(ngModel)]="fund.amount" #fund.amount="ngModel" placeholder="How much will be enough?">
                    </div>
                    <div class="field">
                      <label>Due date</label>
                      <input type="text" name="fund.due_date" id="fund.due_date"
                      [(ngModel)]="fund.due_date" #fund.due_date="ngModel" placeholder="When is your last date?">
                    </div>
                    <div class="field">
                      <label>Place</label>
                      <input type="text" name="fund.location" id="fund.location"
                      [(ngModel)]="fund.location" #fund.location="ngModel" placeholder="Where would you like it to be?">
                    </div>
                    <div (click)="back(1)" class="ui button push right">Back</div>
                    <div (click)="submit(1)" class="ui button push right">Skip</div>
                    <div (click)="submit(1)" class="ui button push right">Next</div>
                  </form>                 
             </div>
             <div class="ui feed" style="z-index: 100;" [hidden]="tab[2].form">
                <form class="ui form">
                    <div class="field">
                        <label>Skills</label>
                        <select name="skills" multiple="" class="ui fluid dropdown">
                            
                            <option value="">Select skills you need</option>
                            <option value="1">Food Sales</option>
                            <option value="2">Game Coupon Management</option>
                            <option value="3">Generator & Electrical System Installation</option>
                            <option value="4">Outside Sound System Management</option>
                            <option value="5">Photography</option>
                            <option value="6">Face Painting</option>
                            <option value="7">Promotion Team</option>
                            <option value="8">Decoration</option>
                            <option value="9">Cleaning Team</option>
                            <option value="10">Game Team</option>
                            <option value="11">Security Team</option>
                            <option value="12">Lottery Sales</option>
                            <option value="13">Drinks Sales</option>
                            <option value="14">Photo Booth</option>
                            <option value="15">Videography</option>
                            <option value="16">Basket/Football Team Management</option>
                            <option value="17">Crafts Making Team</option>
                          </select>
                          </div>

                    <div class="field">
                      <label>Due date</label>
                      <input type="text" name="last-name" placeholder="When is your last date?">
                    </div>
                    <div (click)="back(2)" class="ui button push right">Back</div>
                    <div (click)="submit(2)" class="ui button push right">Skip</div>
                    <div (click)="submit(2)" class="ui button push right" >Next</div>
                  </form>                 
             </div>
             <div class="ui feed" style="z-index: 100;" [hidden]="tab[3].form">
              <form class="ui form">
                  <div class="field">
                      <label>In kind</label>
                      <select name="sponsors" multiple="" class="ui fluid dropdown">
                          <option value="">Select for providers</option>
                          <option value="1">Food/Drinks</option>
                          <option value="2">Tent Rental & Tenting</option>
                          <option value="3">Generator & Electrical System Installation</option>
                          <option value="4">Sound System</option>
                          <option value="5">Table/Chair</option>
                          <option value="6">Advertising/Printing</option>
                          <option value="7">Photo/Video Recording</option>
                          <option value="8">Gaming</option>
                        </select>
                        </div>

                  <div class="field">
                    <label>In Cash</label>
                    <input type="text" name="last-name" placeholder="How much would be enough?">
                  </div>
                  <div (click)="back(3)" class="ui button push right">Back</div>
                  <div (click)="finish()" class="ui button push right" >Finish</div>
                </form>                
                <!-- <h3>Range</h3>
                <div class="ui form">
                  <div class="two fields">
                    <div class="field">
                      <label>Start date</label>
                      <div class="ui calendar" id="rangestart">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" placeholder="Start">
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label>End date</label>
                      <div class="ui calendar" id="rangeend">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" placeholder="End">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div (click)="back(3)" class="ui button push right">Back</div>
                  <div (click)="finish()" class="ui button push right" >Finish</div>
                </div> -->
                <br/>              
           </div>
           <div [hidden]="share">
              <a href="">
                  <h2 class="ui center aligned icon green header">
                      <i class="circular share alternative icon"></i>
                      Share
                    </h2>
              </a>
              <div class="ui progress success">
                  <div class="label">Everything worked, you have successfuly created your package.</div>
                </div>                            
            </div>
         
