
        <div class="ui stackable grid">
            <div class="row">
               <div class="twelve wide column" id="feeds">
<div class="ui divided items">

  <div class="ui clearing segment">
      <h5 class="ui right floated header">
          <a routerLink="/c/package/create">
              Create a package
          </a>
        </h5>
      <h3 class="ui left floated header">
          <h2 class="ui header">
              <i class="money icon"></i>
              <div class="content">
                Package
                <div class="sub header">Coming up campaignes in your network</div>
              </div>
            </h2>
      </h3>
    </div>
  <div class="ui divider"></div>
  <!-- <div style="float:right"> -->
      <!-- <button class="ui compact labeled icon button">
          <i class="pause icon"></i>
          Pause
        </button> -->
      <!-- <a class="item" routerLink="/c/package/create">
        Create an package
        </a> -->
        <!-- </div> -->


  <div *ngIf="!length && !loading">
    <div class="ui message">
        <div class="header">
          Oops, Looks like you are new to eVolunt.
        </div>
        <p>Please build your community to be flooded with awesome stuff.</p>
      </div>
  </div>

  <div [hidden]="!loading">       
      <div class="ui active centered inline medium text loader" >
        Loading
      </div>
    </div>
  <div class="item" *ngFor="let opportunity of opportunities">
          <div class="ui small rounded image">
            <img src="/assets/images/sample.png" style="height:150px">
          </div>
          <div class="content">
            <a class="header">{{ opportunity.title }}</a>
            <div *ngIf="opportunity.charity"> by 
              <a  [routerLink]="['/v', opportunity.charity._id,'home']" >
               {{ opportunity.charity.name }}</a>
            </div>
            <div class="meta">
                <span class="stay"><i class="calendar icon"></i> {{ opportunity.date_of_package | date }}</span>
            </div>
            <div class="description">
              <p>{{ opportunity.description }}
              </p>
            </div>
            <div class="extra">
              <div class="ui right floated mini primary button">
                Attend
                <i class="right chevron icon"></i>
              </div>
              <div class="ui label"><i class="globe icon"></i>{{ opportunity.location }}</div>
            </div>
          </div>
        </div>
  
</div>
</div>
</div>
</div>