<div [hidden]="!firstpage" >

    <!-- <div class="header">Sign up as</div>
    <div class="content">
        <div (click)="asVolunteer()" class="ui teal labeled icon button">
            Volunteer
            <i class="add icon"></i>
          </div>
          <div class="ui horizontal divider">
            Or
          </div>
          <div (click)="asCharity()" class="ui teal labeled icon button">
            Charity
            <i class="add icon"></i>
          </div>
    </div> -->
    <!-- <div class="actions">
        <div class="ui approve button">Approve</div>
        <div class="ui button">Neutral</div>
        <div class="ui cancel button">Cancel</div>
      </div> -->
      <br><br><br>
<div class="container"><h2 class="ui header center aligned">Sign up as</h2></div>
<hr>
<div class="ui center aligned basic segment">
  <div (click)="asVolunteer()" class="ui teal labeled icon button">
    Volunteer
    <i class="add icon"></i>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <div (click)="asCharity()" class="ui teal labeled icon button">
    Charity
    <i class="add icon"></i>
  </div>
</div>
</div>

<div  [hidden]="volunteer">
<div class="ui center aligned grid">
    <div class="ui container">
      <h1 class="ui huge header centered">
        eVolunt
      </h1>
      <div class="ui divider"></div>
      <form   #signupForm="ngForm" (submit)="signupVolunteer()" action="" class="ui volunteer large form">
          <div class="field">
              <div *ngIf="error.val" class="ui form error">
                  <div class="ui error message">
                      <div class="header">Error</div>
                      <p> {{ error.message }} </p>
                    </div>
              </div>
              </div>
        <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i><input name="first_name" id="first_name" [(ngModel)]="model.first_name" placeholder="First Name" type="text" />
            </div>
          </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i><input name="last_name"  id="last_name" [(ngModel)]="model.last_name" placeholder="Last Name" type="text" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i><input name="email"  [(ngModel)]="model.email" placeholder="E-mail address" type="text" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i><input name="password"  [(ngModel)]="model.password" placeholder="Password" type="password" />
          </div>
        </div>
        <!-- <div class="field">
          <div class="ui selection dropdown" id="role">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Choose</div>
              <div class="menu">
                  <div class="item" value="c" data-value="volunteer">Volunteer</div>
                  <div class="item" data-value="charity">Charity</div>
              </div>
          </div>
      </div> -->
        <div class="field">
          <div class="ui toggle olive checkbox">
            <input class="hidden" tabindex="0" name="terms" type="checkbox" /><label>I agree with terms and conditions.</label>
          </div>
        </div>
        <button type="submit" (click)="signupVolunteer()" class="ui basic olive fluid large submit button signupVolunteer">Signup</button>
        <div class="ui divider"></div>
        <div class="ui centered"> Already a member? <a routerLink="/login"> Login</a></div>
      </form>
      <div></div>
    </div>
  </div>
</div>

<div  [hidden]="charity">
  <div class="ui center aligned grid">
      <div class="ui container">
        <h1 class="ui huge header centered">
          eVolunt
        </h1>
        <div class="ui divider"></div>
        <form   #signupForm="ngForm"  (submit)="signupVolunteer()"  action="" class="ui charity large form">
            <div class="field">
                <div *ngIf="error.val" class="ui form error">
                    <div class="ui error message">
                        <div class="header">Error</div>
                        <p> {{ error.message }} </p>
                      </div>
                </div>
                </div>
          <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i><input name="name" id="name" [(ngModel)]="model.name" placeholder="Name of your NGO" type="text" />
              </div>
            </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i><input name="email"  id="email" [(ngModel)]="model.email" placeholder="E-mail address" type="text" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i><input name="password"  id="password" [(ngModel)]="model.password" placeholder="Password" type="password" />
            </div>
          </div>
          <!-- <div class="field">
            <div class="ui selection dropdown" id="role2">
                <input type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">Choose</div>
                <div class="menu">
                    <div class="item" value="c" data-value="volunteer">Volunteer</div>
                    <div class="item" data-value="charity">Charity</div>
                </div>
            </div>
        </div> -->
          <div class="field">
            <div class="ui toggle olive checkbox">
              <input class="hidden" tabindex="0" name="terms" type="checkbox" /><label>I agree with terms and conditions.</label>
            </div>
          </div>
          <button (click)="signupCharity()" class="ui basic olive fluid large submit button signupCharity">Signup</button>
          <div class="ui divider"></div>
          <div class="ui centered"> Already a member? <a routerLink="/login"> Login</a></div>
        </form>
        <div></div>
      </div>
    </div>
  </div>