<div class="ui stackable grid">
    <div class="row">

<div class="eight wide column" id="feeds">
    <div class="ui fluid card">
        <div class="content" >
            <div class="chat">
                            <div class="chat-header clearfix">
                               <!-- <img class="ui mini circular image" src="/assets/images/sample.png" alt="avatar" /> -->
                               <img class="ui mini circular image" *ngIf="!otherProfile.picture" src="/assets/images/sample.png">
                               <img class="ui mini circular image" *ngIf="otherProfile.picture" src="{{ otherProfile.picture }}">
                               <div class="chat-about">
                                 <a routerLink="/v/{{ otherProfile._id }}/home">
                                    <div class="chat-with"  *ngIf="!(personal)">{{ otherProfile.first_name }} {{ otherProfile.last_name }}</div>
                                    <div class="chat-with"  *ngIf="(personal)">Your Personal Messages</div></a>
                                    <div class="chat-num-messages">{{ total }} messages</div>
                               </div>
                            </div>
                            <div class="ui divider"></div>
                            <!-- end chat-header -->
                            <div class="chat-history" #scrollMe>
                               
                                <div  *ngFor="let c of chats">
                                    <div class="clearfix"  *ngIf="(c.from_volunteer._id == currentUser)">
                                    <div class="message-data align-right">
                                        <span class="message-data-time" >{{ c.date_created | timeAgo }}</span> &nbsp; &nbsp;
                                       <div  *ngIf="!(personal)"><span class="message-data-name" >You</span> <i class="circle teal icon small"></i></div> 
                                    </div>
                                    <div class="message other-message float-right">
                                            {{ c.message }}
                                    </div>
                                    </div>
                                    
                                    <div  *ngIf="(c.to_volunteer._id == currentUser) && !personal">
                                        <div class="left-message">
                                            <div class="message-data">
                                                    <span class="message-data-name"><i class="circle green icon small"></i>
                                                        {{ c.from_volunteer.first_name }} {{ c.from_volunteer.last_name }}
                                                    </span>
                                                    <span class="message-data-time">{{ c.date_created | timeAgo }}</span>
                                                </div>
                                                <div class="message my-message">
                                                        {{ c.message }}
                                                </div>
                                        </div>
                                    </div>

                                </div> 
                                

                            </div>
                            <div class="ui divider"></div>
                            <!-- end chat-history -->
                            <form  #messageForm="ngForm"   class="ui form" (submit)="sendMessage(messageForm)">
                                    <div class="field">
                                       <input rows="2" name="data" id="data" placeholder="Press enter to send" autocomplete="off" ngModel>
                                    </div>
                            </form>
                            <!-- end chat-message -->
                         </div>
  </div>
  </div>
  </div>
 

      <div class="eight wide mobile six wide tablet four wide computer column">
         <div style="z-index: 100;">
            <div class="ui segments">
              <div class="ui segment">
                  <h4 class="ui header">Recent Conversations</h4>
              </div>
              <div class="ui segment">
                  <div class="ui items">

                      <div class="item" *ngFor="let history of histories">
                          <div class="ui tiny rounded image">
                            <img *ngIf="!history.picture" src="/assets/images/sample.png">
                            <img *ngIf="history.picture" src="{{ history.picture }}">
                              
                          </div>
                          
                          <div class="content">
                              <a routerLink="/v/{{ history._id }}/home" >{{ history.first_name }} {{ history.last_name }}</a>
                              <div class="meta">
                                  <span class="cinema">4 Kilo, Addis ababa</span>
                              </div>
                              <div class="description">
                                  <p></p>
                              </div>
                              <div class="extra">
                                  <a (click)="refresh(history._id)" class="ui basic olive tiny button follow">Message</a>
                              </div>
                          </div>
                          <!-- <i class="circle green icon small"></i> -->
                      </div>

                  </div>
              </div>
          </div>
         </div>
      </div>

</div>
</div>