<div class="ui stackable grid">
    <div class="row">

<div class="eight wide column" id="feeds">

    <div class="ui success message" *ngIf="posted">
            <i class="close icon"></i>
            <div class="header">
                Your have succesfully updated your status.
            </div>
            <p>You followers will now see your status</p>
        </div>
        <div class="ui cards ">
            <div class="ui fluid card ">
               <div class="content">
                  <div class="ui form">
                     <div class="field">
                        <textarea rows="2" name="model.post" [(ngModel)]="model.post_message" 
                        placeholder="Wanna share something?"></textarea>
                     </div>
                     <div class="ui divider"></div>

                        <input type="file" 
                        #fileupload name="picture" (change)="fileChange($event)" class="inputfile" id="embedpollfileinput" />
                
                        <label for="embedpollfileinput" class="ui basic olive vertical animated button button"  tabindex="0">
                            <div class="hidden content">Image</div>
                            <div class="visible content">
                              <i class="image icon"></i>
                            </div>
                        </label>

                     <button class="ui basic olive right floated button" [ngClass]=" posting == 'true' && ' loading ' " (click)="post()" >Post</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="ui divider"></div>
         <div [hidden]="!loading">       
        <div class="ui icon message" >
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                Just a minute
                </div>
                <p>We're populating your timeline.</p>
            </div>
        </div>  
        </div>

        <div *ngIf="!length && !loading">
            <div class="ui message">
                <div class="header">
                  Looks like you are new to eVolunt.
                </div>
                <p>Please build your community to be flooded with awesome stuff.</p>
              </div>
        </div>

         <div class="ui feed" style="z-index: 100;">
            <div class="ui cards">
               <div class="ui fluid card" *ngFor="let post of posts">
                  <div class="content">
                     
                    <div class="ui items" *ngIf="post.verb == 'post'">
                        <div class="ui item" *ngIf="post.volunteer">
                           <a  class="ui circular mini image">
                            <img *ngIf="!post.volunteer.picture" src="/assets/images/sample.png">
                            <img *ngIf="post.volunteer.picture" src="{{ post.volunteer.picture }}">
                           </a>
                           <div class="content">
                              <div class="summary">
                                 <a routerLink="/v/{{ post.volunteer._id }}/home"><strong>{{ post.volunteer.first_name }} {{ post.volunteer.last_name }}</strong></a> has posted
                                 <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                              </div>
                              <div class="description">
                                        {{ post.post_message }}                                    
                              </div>
                           </div>
                        </div>
                        <div *ngIf="post.charity" class="ui item">
                            <a class="ui circular mini image">
                             <img *ngIf="!post.charity.picture" src="/assets/images/charity.jpg">
                             <img *ngIf="post.charity.picture" src="{{ post.charity.picture }}">
                            </a>
                            <div class="content">
                               <div class="summary">
                                  <a routerLink="/v/{{ post.charity._id }}/home"><strong>{{ post.charity.name }}</strong></a> has posted
                                  <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                               </div>
                               <div class="description">
                                         {{ post.post_message }}                                    
                               </div>
                            </div>
                         </div>
                     </div>

                     <div class="ui items" *ngIf="post.verb == 'Created An Event'">
                        <div class="ui item">
                           <a class="ui circular mini image">
                            <img *ngIf="!post.charity.picture" src="/assets/images/charity.jpg">
                            <img *ngIf="post.charity.picture" src="{{ post.charity.picture }}">
                           </a>
                           <div class="content">
                              <div class="summary">
                                 <a routerLink="/v/{{ post.charity._id }}/home"><strong>{{ post.charity.name }} </strong></a> has created the event <a href="">
                                    {{ post.event.title }}
                                 </a>
                                 <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                              </div>
                              <div class="description">
                                  {{ post.event.description }}                                   
                              </div>
                           </div>
                        </div>
                     </div> 

                     <div class="ui items" *ngIf="post.verb == 'Attending An Event'">
                        <div class="ui item">
                           <a class="ui circular mini image">
                            <img *ngIf="!post.volunteer.picture" src="/assets/images/sample.png">
                            <img *ngIf="post.volunteer.picture" src="{{ post.volunteer.picture }}">
                           </a>
                           <div class="content">
                              <div class="summary">
                                 <a routerLink="/v/{{ post.volunteer._id }}/home"><strong>{{ post.volunteer.first_name }} {{ post.volunteer.last_name }}</strong></a> is attending the event <a href="">
                                    {{ post.event.title }}
                                 </a>
                                 <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                              </div>
                              <div class="description">
                                  {{ post.event.description }}                                   
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="ui items" *ngIf="post.verb == 'Created An Fund'">
                        <div class="ui item">
                           <a class="ui circular mini image">
                            <img *ngIf="!post.charity.picture" src="/assets/images/charity.jpg"> 
                            <img *ngIf="post.charity.picture" src="{{ post.charity.picture }}">
                           </a>
                           <div class="content">
                              <div class="summary">
                                 <a routerLink="/v/{{  post.charity._id}}/home"><strong>{{ post.charity.name }}  </strong></a> has created the fundraiser <a href="">
                                    {{ post.fund.title }}
                                 </a>
                                 <div class="right floated meta">{{ post.date_created | timeAgo}}</div>
                              </div>
                              <div class="description">
                                  {{ post.fund.description }}                                   
                              </div>
                           </div>
                        </div>
                     </div>  

                     <div *ngIf="post.image">
                        <div class="ui fluid image" >
                            <!-- <img src="assets/images/sample.png"> -->
                            <img src="{{ post.image }}">
                            
                          </div>
                          <br>
                     </div>
                     
                      <span class="right floated">
                     <i class="heart outline like icon"></i>
                     {{post.likes?.length }} like<span *ngIf="post.likes?.length != 1">s</span>
                     </span>
                     <i class="comment icon"></i>
                     {{post.comments?.length }} comment<span *ngIf="post.comments?.length != 1">s</span>
                     <div *ngIf="post.comments?.length > 0" class="ui divider"></div>

                    <div class="ui small feed"  *ngFor="let comment of post.comments">
                            <div *ngIf="comment.volunteer" class="small event">
                                <div class="label">
                                <img *ngIf="!comment.volunteer.picture" src="/assets/images/sample.png">
                                <img *ngIf="comment.volunteer.picture" src="{{ comment.volunteer.picture }}">

                                </div>
                                <div class="content">
                                <div class="summary">
                                <a routerLink="/v/{{ comment.volunteer._id }}/home" > {{ comment.volunteer.first_name }} {{ comment.volunteer.last_name }}</a>
                    
                                    <div class="date">
                                        {{ comment.date | timeAgo }}
                                    </div>
                                </div>

                                <div class="text">
                                        {{ comment.comment }}
                                </div>
                                </div>
                            </div>
                            <div *ngIf="comment.charity" class="small event">
                                    <div class="label">
                                    <img *ngIf="!comment.volunteer.picture" src="/assets/images/charity.jpg">
                                    <img *ngIf="comment.volunteer.picture" src="{{ comment.charity.picture }}">
    
                                    </div>
                                    <div class="content">
                                    <div class="summary">
                                    <a routerLink="/v/{{ comment.charity._id }}/home" > {{ comment.charity.name }}</a>
                        
                                        <div class="date">
                                            {{ comment.date | timeAgo }}
                                        </div>
                                    </div>
    
                                    <div class="text">
                                            {{ comment.comment }}
                                    </div>
                                    </div>
                                </div>
                        </div>

                  </div>

                  <div class="extra content">

                     <form  #commentForm="ngForm"  action="" (ngSubmit)="comment(commentForm,post._id)">
                     <div class="ui transparent fluid left icon input">
                            <a *ngIf="post.likes.indexOf(currentUser) !== -1" (click)="unlike(post._id)"> <i class="heart outline red icon"></i></a>
                        <a *ngIf="!(post.likes.indexOf(currentUser) !== -1)" (click)="like(post._id)"> <i class="heart outline icon"></i></a>
                          
                        <input style="width:100%" type="input" placeholder="Add Comment..." id="data" name="data" ngModel>
                            
                          </div>
                        </form>
                  </div>
               </div>
            </div>
         </div>
      
</div>
      <div class="eight wide mobile six wide tablet four wide computer column">
         <div style="z-index: 100;">
            <div class="ui segments">
              <div class="ui segment">
                  <h4 class="ui header">Follow Suggestions</h4>
              </div>
              <div class="ui segment">
                  <div class="ui items">

                      <div class="item">
                          <div class="ui tiny rounded image">
                              <img src="/assets/images/sample.png">
                              
                          </div>
                          <div class="content">
                              <a href="#">Abebe Tesfaye</a>
                              <div class="meta">
                                  <span class="cinema">4 Kilo, Addis ababa</span>
                              </div>
                              <div class="description">
                                  <p></p>
                              </div>
                              <div class="extra">
                                  <button class="ui basic olive tiny button follow">Follow</button>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="ui rounded tiny image">
                              <img src="/assets/images/sample.png">
                          </div>
                          <div class="content">
                              <a>Selam Lema</a>
                              <div class="meta">
                                  <span class="cinema">Kolfe, Addis Ababa </span>
                              </div>
                              <div class="description">
                                  <p></p>
                              </div>
                              <div class="extra">
                                  <button class="ui basic olive tiny button follow">Follow</button>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="ui rounded tiny image">
                              <img src="/assets/images/sample.png">
                          </div>
                          <div class="content">
                              <a>Surafel Alemu</a>
                              <div class="meta">
                                  <span class="cinema">Bole, Addis Ababa</span>
                              </div>
                              <div class="description">
                                  <p></p>
                              </div>
                              <div class="extra">
                                  <button class="ui basic olive tiny button follow">Follow</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
      </div>

</div>
</div>