<div class="ui stackable grid">
    <div class="row">

<div class="nine wide column" id="feeds">
 
<div class="ui divided items">
    <h2 class="ui header">
      <i class="heart icon"></i>
      <div class="content">
        Opportunities for you
        <div class="sub header">Opportunities you might be interested in</div>
      </div>
    </h2>
    <div class="ui divider"></div>
    <div *ngIf="!length && !loading">
      <div class="ui message">
          <div class="header">
            Oops, Looks like you are new to eVolunt.
          </div>
          <p>Please build your community to be flooded with awesome stuff.</p>
        </div>
    </div>

    <div [hidden]="!loading">       
        <div class="ui active centered inline medium text loader" >
          Loading
        </div>
      </div>
    <div class="item" *ngFor="let opportunity of opportunities">
            <div class="ui small rounded image">
              <img *ngIf="!opportunity.picture" src="/assets/images/event.jpg" style="height:150px">
              <img *ngIf="opportunity.picture" src="{{ opportunity.picture }}" >
            </div>
            <div class="content">
              <a class="header">{{ opportunity.title }}</a>
              <div *ngIf="opportunity.charity"> by 
                <a  [routerLink]="['/v/c', opportunity.charity._id,'home']" >
                 {{ opportunity.charity.name }}</a>
              </div>
              <div class="meta">
                  <span class="stay"><i class="calendar icon"></i> {{ opportunity.date_of_event | date }}</span>
              </div>
              <div class="description">
                <p>{{ opportunity.description }}
                </p>
              </div>
              <div class="extra">
                <a  *ngIf="opportunity.attending_users.indexOf(currentUser) !== -1"  class="ui right floated small basic olive button">
                  Attending
                </a>
                <a  *ngIf="!(opportunity.attending_users.indexOf(currentUser) !== -1)" (click)="attend(opportunity._id)" class="ui right floated small basic olive  button">
                    Attend
                  </a>
                <div class="ui label"><i class="globe icon"></i>{{ opportunity.location }}</div>
              </div>
            </div>
          </div>
    
  </div>
      
</div>
</div>
</div>

