<div class="main container" >
    <div class="ui stackable grid">
       <div class="row">
          <div class="two wide computer only column " style="z-index: 100;"></div>
          <div class="ui two wide computer only column" style="z-index: 100;">
             <app-volunteer-menu></app-volunteer-menu>
          </div>
          <div class="ui twelve wide column" style="z-index: 100;">
                <router-outlet></router-outlet>
             </div>
         
       </div>
    </div>
 </div>
