  @import "https://fonts.googleapis.com/css?family=Raleway";
  
  *{
    font-family: Raleway,sans-serif;
  }

  body{ 
    position: relative;
    overflow-y: scroll;
  }

  .main.container {
    margin-top: 6em;
  }  

  .card.profile-card {
    box-shadow: 0px 0px 20px #DFDFDF;
    border: none;
    border-radius: 0;
  }
  
  input.fab {
    display: none
  }
    
  .img-profile {
      -webkit-clip-path: circle(52% at 70% 38%);
      -moz-clip-path: circle(52% at 70% 38%);
      clip-path: circle(52% at 70% 38%);
      transition: all .3s linear;
  }
  .img-profile:hover {
      -webkit-clip-path: circle(100% at 60% 38%);
      clip-path: circle(100% at 60% 38%);
  }

  .profile {
    width: 85%;
  }

  .status {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
  }

  .profile-card .fab+.toggle {
    top: 63%;
    z-index: 10;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    background: #F44336;
    -webkit-user-select: none;
    box-shadow: 0 4px 4px #666;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .fab:checked+.toggle {
    color: #fff;
    background: #F44336;
    transform: rotate(135deg);
    box-shadow: 2px -2px 4px #333;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .profileheader {
    background: url(/assets/images/profileheader.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 255px;
    float: right !important;
    text-align: right;
    padding: 2em !important;
  }
  
  .profilepage .image i {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
  }
  