
 <div class="main container" >
    <div class="ui stackable grid">
       <div class="row">
          <div class="two wide column "></div>
          <div class="ui three wide computer only column" style="z-index: 100;">
             <!-- <div>
                <div class="ui bound top sticky profile">
                   <div class="ui olive card profile-card">
                      <div class="image">
                         <img class="img-profile" src="{{photo}}">
                      </div>
                      <div class="content">
                         <a class="header">{{ name }}</a>
                         <div class="meta">
                            <span class="date">Joined in 2013</span>
                         </div>
                         <div class="description">
                            Girum is a volunteer living in Addis Ababa.
                         </div>
                      </div>
                      <div class="extra content">
                         <a>
                         <i class="user icon"></i>
                         22 Friends
                         </a>
                      </div>
                   </div>
                </div>
             </div> -->
             <!-- <app-volunteer-menu></app-volunteer-menu> -->
             <div class="ui secondary vertical pointing menu sticky">
                <a class="active item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item"  routerLink="/message" routerLinkActive="active">
                    <i class="mail icon"></i> Messages
                </a>
                <a class="item" routerLink="/event" routerLinkActive="active">
                    <i class="heart icon"></i> Opportunities
                </a>
                <a class="item">
                    <i class="shopping basket icon"></i> Basket
                </a>
              </div>
          </div>
          <div class="six wide column" id="feeds">
             <div class="ui cards ">
                <div class="ui fluid card ">
                   <div class="content">
                      <div class="ui form">
                         <div class="field">
                            <textarea rows="2" placeholder="Wanna share something?"></textarea>
                         </div>
                         <div class="ui divider"></div>
                         <div class="ui basic olive vertical animated button" tabindex="0">
                            <div class="hidden content">Image</div>
                            <div class="visible content">
                               <i class="image icon"></i>
                            </div>
                         </div>
                         <button class="ui basic olive right floated button">Post</button>
                      </div>
                   </div>
                </div>
             </div>
             <div class="ui divider"></div>
             <div class="ui feed" style="z-index: 100;">
                <div class="ui cards">
                   <div class="ui fluid card">
                      <div class="content">
                         <div class="ui items">
                            <div class="ui item">
                               <a class="ui circular mini image">
                               <img src="/assets/images/sample.png">
                               </a>
                               <div class="content">
                                  <div class="summary">
                                     <a>Mamo Ephrem</a> shared
                                     <div class="right floated meta">3h</div>
                                  </div>
                                  <div class="description">
                                     Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                                  </div>
                               </div>
                            </div>
                         </div>
                         <span class="right floated">
                         <i class="heart outline like icon"></i>
                         17 likes
                         </span>
                         <i class="comment icon"></i>
                         3 comments
                      </div>
                      <div class="extra content">
                         <div class="ui large transparent left icon input">
                            <i class="heart outline icon"></i>
                            <input type="text" placeholder="Add Comment...">
                         </div>
                      </div>
                   </div>
                   <div class="ui fluid card">
                      <div class="content">
                         <div class="ui items">
                            <div class="ui item">
                               <a class="ui mini circular image">
                               <img src="/assets/images/sample.png">
                               </a>
                               <div class="content">
                                  <div class="summary">
                                     <a>Tesfaye Kebede</a> shared
                                     <div class="right floated meta">14h</div>
                                  </div>
                                  <div class="description">
                                     Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                                  </div>
                               </div>
                            </div>
                         </div>
                         <span class="right floated">
                         <i class="heart outline like icon"></i>
                         17 likes
                         </span>
                         <i class="comment icon"></i>
                         3 comments
                      </div>
                      <div class="extra content">
                         <div class="ui large transparent left icon input">
                            <i class="heart outline icon"></i>
                            <input type="text" placeholder="Add Comment...">
                         </div>
                      </div>
                   </div>
                   <div class="ui fluid card">
                    <div class="content">
                       <div class="ui items">
                          <div class="ui item">
                             <a class="ui mini circular image">
                             <img src="/assets/images/sample.png">
                             </a>
                             <div class="content">
                                <div class="summary">
                                   <a>Tesfaye Kebede</a> shared
                                   <div class="right floated meta">14h</div>
                                </div>
                                <div class="description">
                                   Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                                </div>
                             </div>
                          </div>
                       </div>
                       <span class="right floated">
                       <i class="heart outline like icon"></i>
                       17 likes
                       </span>
                       <i class="comment icon"></i>
                       3 comments
                    </div>
                    <div class="extra content">
                       <div class="ui large transparent left icon input">
                          <i class="heart outline icon"></i>
                          <input type="text" placeholder="Add Comment...">
                       </div>
                    </div>
                 </div>
                </div>
             </div>
          </div>
          <div class="eight wide mobile six wide tablet four wide computer column">
             <div class="ui bound top sticky" style="z-index: 100;">
                <div class="ui cards">
                   <div class="ui card">
                      <div class="content">
                         <p>Who to follow</p>
                         <div class="ui items">
                            <div class="item">
                               <a class="ui mini image">
                               <img src="/assets/images/sample.png">
                               </a>
                               <div class="content">
                                  <div class="ui grid">
                                     <div class="row">
                                        <div class="eight wide column">
                                           <a class="header">Mamo Tesfa</a>
                                           <div class="description">
                                              <p>Addis Ababa</p>
                                           </div>
                                        </div>
                                        <div class="eight wide column">
                                           <button class="ui basic olive button">
                                           Follow
                                           </button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="item">
                               <a class="ui mini image">
                               <img src="/assets/images/sample.png">
                               </a>
                               <div class="content">
                                  <div class="ui grid">
                                     <div class="row">
                                        <div class="eight wide column">
                                           <a class="header">Mamo Tesfa</a>
                                           <div class="description">
                                              <p>Addis Ababa</p>
                                           </div>
                                        </div>
                                        <div class="eight wide column">
                                           <button class="ui basic olive button">
                                           Follow
                                           </button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>

                         </div>
                      </div>
                      <div class="extra content">
                         <div class="center aligned">
                            <a href="">About</a>
                            <a href="">Help Center</a>
                            <a href="">Terms and Privacy</a>
                            <p>eVolunt © 2017</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
