<div class="ui stackable grid">
  <div class="row">

<div class="twelve wide column" id="feeds">

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Your Community
</h2>
<div class="ui divider"></div>
<div class="ui fluid two item menu">
  <a class="item" [ngClass]="page=='following' && 'active olive'" (click)="setPage('following')">Following</a>
  <a class="item" [ngClass]="page=='followers' && 'active olive'" (click)="setPage('followers')">Followers</a>
</div>
<div [hidden]="!loading">       
    <div class="ui active centered inline medium text loader" >
      Loading
    </div>
</div>
<div  [hidden]="loading">
<div [hidden]="!(page=='following')">

  <div *ngIf="community.following.volunteer?.length > 0">
      <h2 class="ui header" >
          <i class="user icon"></i>
          <div class="content">
            Volunteers
            <div class="sub header">Here are the volunteers you follow</div>
          </div>
        </h2>
      <div class="ui divider"></div>
  </div>

  <div *ngIf="!(community.following.volunteer?.length > 0)">
      <div class="ui message">
          <div class="header">
            It looks like you are not following anyone.
          </div>
          <p>Please search and follow some charities and volunteers.</p>
        </div>
  </div>

    <div class="ui three doubling cards">
      <div class="card" *ngFor="let friend of community.following.volunteer">
        <div class="image">
              <img *ngIf="!friend.picture" src="/assets/images/sample.png">
              <img *ngIf="friend.picture" src="{{ friend.picture }}">
        </div>
        <div class="content">
          <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
          <div class="meta">
            <a>Following</a>
          </div>
          <div class="description">
            Addis Ababa
          </div>
        </div>
        <div class="extra content">
          <a (click)="unfollow(friend._id)">
            <span class="right floated">
              Unfollow
            </span>
          </a>
    
          <span>
            <i class="user icon"></i>
            3 Followers
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="community.following.charity?.length > 0">
        <div class="ui divider"></div>
        <h2 class="ui header" >
            <i class="user icon"></i>
            <div class="content">
              Charities
              <div class="sub header">Here are the charities you follow on eVolunt</div>
            </div>
          </h2>
          <div class="ui divider"></div>
    </div>
    <div class="ui three doubling cards">
      <div class="card" *ngFor="let friend of community.following.charity">
        <div class="image">
              <img *ngIf="!friend.picture" src="/assets/images/sample.png">
              <img *ngIf="friend.picture" src="{{ friend.picture }}">
        </div>
        <div class="content">
          <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
          </div>
        </div>
        <div class="extra content">
          <a (click)="unfollowCharity(friend._id)">
            <span class="right floated">
              Unfollow
            </span>
          </a>
    
          <span>
            <i class="user icon"></i>
            3 Followers
          </span>
        </div>
      </div>
    </div>

  </div>

  <div [hidden]="!(page=='followers')">
    <div *ngIf="community.followers.volunteer?.length > 0">
        <h2 class="ui header">
            <i class="user icon"></i>
            <div class="content">
              Volunteers
              <div class="sub header">Here are friends and charities following you</div>
            </div>
          </h2>
          <div class="ui divider">
          </div>
    </div>

    <div *ngIf="!(community.followers.volunteer?.length > 0)">
        <div class="ui message">
            <div class="header">
              It looks like you have no followers.
            </div>
            <p>Please search and follow some charities and volunteers so that they will follow you back.</p>
          </div>
    </div>

      <div [hidden]="!loading">       
          <div class="ui active centered inline medium text loader" >
            Loading
          </div>
      </div>
    
        <div class="ui three doubling cards">
          <div class="card" *ngFor="let friend of community.followers.volunteer">
            <div class="image">
                  <img *ngIf="!friend.picture" src="/assets/images/sample.png">
                  <img *ngIf="friend.picture" src="{{ friend.picture }}">
            </div>
            <div class="content">
              <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">
               
              </div>
            </div>
            <div class="extra content">
              <a (click)="follow(friend._id)">
                <span class="right floated">
                  Follow
                </span>
              </a>
        
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="community.followers.charity?.length > 0">
            <div class="ui divider"></div>
            <h2 class="ui header">
              <i class="user icon"></i>
              <div class="content">
                Charities
                <div class="sub header">Here are the charities following you</div>
              </div>
            </h2>
            <div class="ui divider"></div>
        </div>

        <div class="ui three doubling cards">
          <div class="card" *ngFor="let friend of community.followers.charity">
            <div class="image">
                  <img *ngIf="!friend.picture" src="/assets/images/sample.png">
                  <img *ngIf="friend.picture" src="{{ friend.picture }}">
            </div>
            <div class="content">
              <div class="header"> <a  routerLink="/v/{{ friend._id }}/home"> {{ friend.first_name }} {{ friend.last_name }}</a></div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">
              
              </div>
            </div>
            <div class="extra content">
              <a (click)="follow(friend._id)">
                <span class="right floated">
                  Follow
                </span>
              </a>
        
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- <div class="ui divided items">
   <div [hidden]="!loading">       
          <div class="ui active centered inline medium text loader" >
            Loading
          </div>
        </div>
        <div class="item" *ngFor="let opportunity of opportunities">
                <div class="ui small rounded image">
                  <img src="/assets/images/sample.png" style="height:150px">
                </div>
                <div class="content">
                  <a class="header">{{ opportunity.title }}</a>
                  <div *ngIf="opportunity.charity"> by 
                    <a  [routerLink]="['/volunteers', opportunity.charity._id,'home']" >
                     {{ opportunity.charity.name }}</a>
                  </div>
                  <div class="meta">
                      <span class="stay"><i class="calendar icon"></i> {{ opportunity.date_of_event }}</span>
                  </div>
                  <div class="description">
                    <p>{{ opportunity.description }}
                    </p>
                  </div>
                  <div class="extra">
                    <div class="ui right floated mini primary button">
                      Attend
                      <i class="right chevron icon"></i>
                    </div>
                    <div class="ui label"><i class="globe icon"></i>{{ opportunity.location }}</div>
                  </div>
                </div>
              </div>
        
      </div>
      -->    
</div>
</div>
</div>