<div id="footerSection">
    <div id="footerLinks">
        <ul>
            <li><a href="#">Legal Notice</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Agreement</a></li>
            <li><a href="#">Fees and Limits</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help</a></li>
        </ul>
        <br class="clear" />
    </div>

    <div id="footerNotes">
        <p>&copy; 2017 Gebeya</p>
    </div>
</div>

