<div class="main container" >
    <div class="ui stackable grid">
       <div class="row">
          <div class="two wide computer only column "></div>
          <div class="ui two wide computer only column" style="z-index: 100;">
             <app-charity-menu></app-charity-menu>
          </div>
          <div class="ten wide column" id="feeds">
                <router-outlet></router-outlet>
          </div>
       </div>
    </div>
 </div>
