<div class="ui stackable grid">
        <div class="row">
             
        <div class="nine wide column" id="feeds">
<div class="ui fluid card">
        <h2 class="ui header">
                <i class="profiles icon"></i>
                <div class="content">
                        Your Profile
                        <div class="sub header">Edit your profile</div>
                </div>
                </h2>
                </div>          
                
                <!-- <img class="ui centered medium image" src="http://evolunt-volunteer.herokuapp.com{{ user.picture }}"> -->
                <div class="ui divider"></div>
                <form [hidden]="!first" class="ui form segment" >
                        <div class="two fields">
                                        <div class="field">
                                        <label>First Name</label>
                                        <input placeholder="First Name" name="first_name"  [(ngModel)]="user.first_name"  type="text">
                                        </div>
                                        <div class="field">
                                        <label>Last Name</label>
                                        <input placeholder="Last Name" name="last_name" [(ngModel)]="user.last_name"  type="text">
                                        </div>
        
                        </div>
        
                        <!-- <div class="field">
                                <label>Description</label>
                                <textarea placeholder="Description" name="description" [(ngModel)]="user.description"  type="text"></textarea>
                        </div> -->
        
                        <div class="field">
                          <label>Interests</label>
                          <select multiple="" class="ui dropdown" id="interests">
                            <option value="">Select your interests</option>
                            <option value="art">Art</option>
                            <option value="books">Books</option>
                            <option value="childcare">Childcare</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="computer">Computer</option>
                            <option value="cleaning">Counsling</option>
                            <option value="donation">Donation</option>
                            <option value="event">Event</option>
                            <option value="feeding">Feeding</option>
                            <option value="gaming">Gaming</option>
                            <option value="nursing">Nursing</option>
                            <option value="sports">Sports</option>
                            <option value="tutor">Tutor</option>
                          </select>
                        </div>
        
        
                        <div class="ui  basic olive  submit button" (click)="submit()">Next</div>
                        <div class="ui  basic olive clear button">Cancel</div>
                        </form>  
                        <form [hidden]="first" class="ui form segment" #pictureForm="ngForm">
        
                                <div class="ui header">Profile picture</div>
                                <div class="ui divider"></div>
                                <!-- <img class="ui centered medium image" src="/assets/images/sample.png">    -->
                                <img *ngIf="!user.picture" class="ui centered medium image" src="/assets/images/sample.png">
                                <img *ngIf="user.picture" class="ui centered medium image" src="{{ user.picture }}"> 
                                <div class="ui divider"></div>        
                        <div class="field">
                                <br>
                                <div class="ui middle aligned center aligned grid container">
        
                                                <input type="file" 
                                                #fileupload name="picture" (change)="fileChange($event)" class="inputfile" id="embedpollfileinput" />
                                        
                                        <label for="embedpollfileinput" class="ui right basic olive floated button">
                                                <i class="ui upload icon"></i> 
                                                Upload your picture
                                        </label>
        
                                </div>       
        
                                <br>
                                </div>
        
                                <div class="ui basic olive submit button" (click)="back()">Back</div>
                                <div class="ui basic olive submit button" [ngClass]=" uploading == 'true' && ' loading ' " (click)="upload()">Update</div>
                                <div class="ui  basic olive clear button">Cancel</div>
                </form>  
        
        
        
             </div>
             <div class="eight wide mobile six wide tablet four wide computer column">
                <div class="ui bound top sticky profile" style="z-index: 100;">
                                <div class="ui olive card profile-card">
                                <div class="image">
                                        <!-- <img class="img-profile" src="{{photo}}"> -->
                                        <img *ngIf="!user.picture" class="img-profile" src="/assets/images/sample.png">
                                        <img *ngIf="user.picture" class="img-profile" src="{{ user.picture }}"> 
                
                                </div>
                                <div class="content">
                                        <a class="header">{{ name }}</a>
                                        <div class="meta">
                                        <span class="date">Member since {{ user.date_created | timeAgo }}</span>
                                        </div>
                                        <div class="description">
                                                {{ user.description }}
                                        </div>
                                </div>
                                <div class="extra content">
                                        <a>
                                        <i class="user icon"></i>
                                        {{user.followers?.length }} Followers
                                        </a>
                                </div>
                                </div>
                        </div>
</div>
             </div>
             </div>
