<div class="main container" >
        <div class="ui stackable grid">
           <div class="row">
              <div class="two wide column "></div>
              <div class="ui three wide computer only column" style="z-index: 100;">
                 <div>
                        <div class="ui bound top sticky profile">
                                <div class="ui olive card profile-card">
                                <div class="image">
                                        <img class="img-profile" src="{{photo}}">
                                </div>
                                <div class="content">
                                        <a class="header">{{ name }}</a>
                                        <div class="meta">
                                        <span class="date">Joined in 2013</span>
                                        </div>
                                        <div class="description">
                                        Girum is a volunteer living in Addis Ababa.
                                        </div>
                                </div>
                                <div class="extra content">
                                        <a>
                                        <i class="user icon"></i>
                                        22 Friends
                                        </a>
                                </div>
                                </div>
                        </div>
                 </div>
              </div>
              <div class="six wide column" id="feeds">
                    <div class="ui fluid card">
                        <h2 class="ui header">
                                <i class="settings icon"></i>
                                <div class="content">
                                  Account Settings
                                  <div class="sub header">Manage your preferences</div>
                                </div>
                              </h2>
                         </div>          
                
              </div>
              <div class="eight wide mobile six wide tablet four wide computer column">
                 <div class="ui bound top sticky" style="z-index: 100;">
                        <div class="ui cards">
                        <div class="ui card">
                                <div class="content">
                                <p>Who to follow</p>
                                <div class="ui items">
                                        <div class="item">
                                        <a class="ui mini image">
                                        <img src="/assets/images/sample.png">
                                        </a>
                                        <div class="content">
                                        <div class="ui grid">
                                                <div class="row">
                                                <div class="eight wide column">
                                                <a class="header">Mamo Tesfa</a>
                                                <div class="description">
                                                        <p>Addis Ababa</p>
                                                </div>
                                                </div>
                                                <div class="eight wide column">
                                                <button class="ui basic olive button">
                                                Follow
                                                </button>
                                                </div>
                                                </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="item">
                                        <a class="ui mini image">
                                        <img src="/assets/images/sample.png">
                                        </a>
                                        <div class="content">
                                        <div class="ui grid">
                                                <div class="row">
                                                <div class="eight wide column">
                                                <a class="header">Mamo Tesfa</a>
                                                <div class="description">
                                                        <p>Addis Ababa</p>
                                                </div>
                                                </div>
                                                <div class="eight wide column">
                                                <button class="ui basic olive button">
                                                Follow
                                                </button>
                                                </div>
                                                </div>
                                        </div>
                                        </div>
                                        </div>
        
                                </div>
                                </div>
                                <div class="extra content">
                                <div class="center aligned">
                                        <a href="">About</a>
                                        <a href="">Help Center</a>
                                        <a href="">Terms and Privacy</a>
                                        <p>eVolunt © 2017</p>
                                </div>
                                </div>
                        </div>
                        </div>
                 </div>
              </div>
           </div>
        </div>
     </div>

