<div class="ui center aligned grid">
    <div class="ui container">
      <h1 class="ui huge header centered">
        eVolunt
      </h1>
      <div class="ui divider"></div>
      <form   #articleForm="ngForm" (submit)="login()" action="" class="ui large form">
          <div class="field">
        <div *ngIf="error.val" class="ui form error">
            <div class="ui error message">
                <div class="header">Error</div>
                <p> {{ error.message }} </p>
              </div>
        </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i><input name="username"  id="username" [(ngModel)]="model.username"  placeholder="E-mail address" type="text" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i><input name="password" id="password" [(ngModel)]="model.password" placeholder="Password" type="password" />
          </div>
        </div>        

        <div class="field">
          <div class="ui toggle olive checkbox">
            <input class="hidden" tabindex="0" type="checkbox" /><label>Remember me</label>
          </div>
        </div>
        <button type="submit" (click)="login()" class="ui basic olive fluid large submit button login">Login</button>
      </form>
        <div class="ui horizontal divider header">
          <h4>Or log in with</h4>
            
          </div>

          <div class="ui two column center aligned grid">
              <div class="eight wide column centered ">
                  <button (click)="signInWithFB()" class="ui circular  basic olive  facebook icon button">
                      <i class="facebook f icon"></i>
                    </button></div>
                    <div class="eight wide column ">
                    <button (click)="signInWithGoogle()" class="ui circular  basic olive  google plus icon button">
                      <i class="google icon"></i>
                    </button>
              </div>
              </div>


        <!-- <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p> -->
        <div class="ui divider"></div>
        <div class="ui centered"> Not a member? <a routerLink="/signup"> Sign up now</a></div>
      <div></div>
    </div>
  </div>

  <!-- <div [hidden]="!loggedIn" >
    <h3>Logged in</h3>
  </div>
  <div [hidden]="loggedIn" >
      <h3>Logged out</h3>
    </div> -->