
<div class="ui grid">
  <div class="row">
    <div class="twelve wide column">
      <div class="ui divided items">

  <div class="ui clearing segment">
      <h5 class="ui right floated header">
          <a routerLink="/c/fundraiser/create">
              Create a fundraiser
          </a>
        </h5>
      <h3 class="ui left floated header">
          <h2 class="ui header">
              <i class="money icon"></i>
              <div class="content">
                Fundraiser
                <div class="sub header">Coming up campaignes in your network</div>
              </div>
            </h2>
      </h3>
    </div>
  <div class="ui divider"></div>
  <!-- <div style="float:right"> -->
      <!-- <button class="ui compact labeled icon button">
          <i class="pause icon"></i>
          Pause
        </button> -->
      <!-- <a class="item" routerLink="/c/fundraiser/create">
        Create an fundraiser
        </a> -->
        <!-- </div> -->


  <div *ngIf="!(campaigns?.length > 0) && !loading">
    
    <div class="ui message">
        <div class="header">
          Oops, Looks like you are new to eVolunt.
        </div>
        <p>Please build your community to be flooded with awesome stuff.</p>
      </div>
  </div>

  <div [hidden]="!loading">       
      <div class="ui active centered inline medium text loader" >
        Loading
      </div>
    </div>
  <!-- <div class="item" *ngFor="let campaign of campaigns"> -->
    <div class="item" *ngFor="let campaign of campaigns">
      <div class="ui small rounded fluid image">
        <img *ngIf="!campaign.picture" src="/assets/images/fund.png" style="height:150px">
        <img *ngIf="campaign.picture" src="{{ campaign.picture }}" >
      </div>
          <div class="content">
            <a class="header">{{ campaign.title }}</a>
            <div *ngIf="campaign.charity"> by 
              <a  [routerLink]="['/v', campaign.charity._id,'home']" >
               {{ campaign.charity.name }}</a>
            </div>
            <div class="meta">
                <span class="stay"> <strong>{{campaign.contibuted_users?.length }}</strong> promises to contribute <strong>{{ campaign.amount_contributed }} Birr</strong> out of <strong>{{ campaign.amount }}  Birr</strong></span>
            </div>
            <div class="description">
              <p>{{ campaign.description }}
              </p>
            </div>
            <div class="extra">
              <a (click)="contribute(campaign._id)">
                <div class="ui right floated small basic olive button">
                  Contribute
                </div>
              </a> 
              <div class="ui basic red label"><i class="clock icon"></i>Deadline {{ campaign.deadline | date }}</div>
            </div>

              <br>
              <!-- <div class="ui olive progress fund_progress" id="fund_progress"  data-value="50" data-total="100" > -->
                  <div class="ui olive progress fund_progress" id="fund_progress" [attr.data-value]="campaign.amount_contributed" [attr.data-total]="campaign.amount"  >
                
                                 
                  <!-- <div class="label">74% Funded</div>   -->
                <div class="bar">
                      <div class="progress"></div>
                    </div>
                  
                </div>
          </div>

        </div>            

</div>
</div>
</div>
</div>

<div class="ui mini modal">
    <div class="header">How much would you like to contribute?</div>
    <div class="content">
            <form class="ui form">
            <div class="field">
                    <label>Amount</label>
                    <input type="number" name="amount"  [(ngModel)]="amount" #contribute.amount="ngModel" id="amount">
                  </div>
                  </form>
    </div>
    <div class="actions">
      <div class="ui approve basic olive button">Contribute</div>
      <div class="ui basic olive cancel button">Cancel</div>
    </div>
  </div>
  