<div class="ui grid">
  <div class="row">
    <div class="twelve wide column">
 <div class="ui mini tablet stackable fluid steps">
                  <a class="step">
                    <i class="money icon"></i>
                    <div class="content">
                      <div class="title">Create Fundraiser</div>
                      <div class="description">Enter billing information</div>
                    </div>
                  </a>
                </div>    
             <div class="ui divider"></div>
             <div class="ui success message" *ngIf="posted">
                <i class="close icon"></i>
                <div class="header">
                    Your have succesfully created a fundraiser.
                </div>
                <p>You followers will now see your campaign</p>
              </div>
             <div class="ui feed" style="z-index: 100;">
                <form class="ui form">
                  <div class="field">
                    <label>Campaign title</label>
                    <input type="text" name="fundraiser.title" id="fundraiser.title"
                    [(ngModel)]="fundraiser.title" #fundraiser.title="ngModel" placeholder="What would you like to call it?">
                  </div>
                  <div class="field">
                    <label>Description</label>
                    <textarea rows="2" type="text" name="fundraiser.description" id="fundraiser.description"
                    [(ngModel)]="fundraiser.description" #fundraiser.description="ngModel" placeholder="What is it about?"></textarea>
                  </div>
                  <div class="field">
                      <label>Goal</label>
                      <input type="number" name="fundraiser.amount" id="fundraiser.amount"
                      [(ngModel)]="fundraiser.amount" #fundraiser.amount="ngModel" placeholder="How much will be enough?">
                    </div>
                    <div class="field">
                      <label>Closing date</label>
                      <input type="date" name="deadline" id="deadline"
                      [(ngModel)]="fundraiser.deadline" #deadline="ngModel" placeholder="Preferable before?">
                    </div>
                    <div class="field">
                      <label>Picture</label>
                      <br>
                      <div class="ui grid container">

                        <input type="file" 
                        #fileupload name="picture" (change)="fileChange($event)" class="inputfile" id="embedpollfileinput" />
                
                              <label for="embedpollfileinput" class="ui right basic olive floated button">
                                      <i class="ui upload icon"></i> 
                                      Upload a picture
                              </label>

                      </div>       

                      <br>
                      </div>
                      <div class="ui divider"></div>
                    <div (click)="submit()" class="ui basic olive button push right submit">Submit</div>
                  </form>                 
             </div>
         </div>
         </div>
         </div>
